 html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
   font-family: 'Trebuchet MS';
   box-sizing: border-box;
}
body {
    scroll-behavior: smooth;  
}
a, i{
   cursor: pointer;  
}
a:hover,a:focus, i:hover{
    opacity:0.5;
}
/* Header Section */
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
 .navbar-default{
    background-color:#FFFFFF;
    border:none; 
    margin-top:2rem;
} 
.navbar-default img{
    margin-left:5pc;    
}
.navbar-nav{
    float:left;
    font-size:13px;
    font-weight: bolder;
} 
@media screen and(max-width:798px){
    #myNavbar{
       display: flex;
       flex-direction: column;
       background: #fff;
    }
    .content{
        position: inherit;
    }
    h2{
        font-size:15px;
  }
}




.image{
    margin-top:30px;
    max-height:100%;
}
/* content */
.content{
    max-width:100%;
    background-image: url("BB.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
    font: Light 116px/112px Inria Sans;
    color: #FFFFFF;
    opacity: 1;
    display :block;
    padding:15%;
    margin-top:40px;
    }

.design{
    background-image: url("Pattern.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:5%;
   
}
.design h1{
      margin-top: 5pc ;
      overflow: hidden;
}
.design h2{
    text-align: end;
}
.design h3{
    text-align: right;
    margin-top: 5pc ;  
}
.design p{
    font-size:16px;  
}
.design #para{
    text-align: right;
    margin-bottom: 3pc ;  
    font-size:16px;
}
hr{
    float: right;
    width:100px;
    border :2px solid #800000;
}
#read{
    float: left;
}
.offer{
    margin-top: 50px;
}
.offer h1{
    padding:1%;   
}
.offercontent{
    margin:10%;
}
#offercontainer{
    background-image: url("Pattern.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid grey;
    margin:2%;
}
.products{
    background-image: url("Background3.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    color:#FFFFFF;
    padding:10%;
}
.products button{
    border:2px solid #FFFFFF;
    background-color: transparent;
    padding:1%;
    border-radius: none;
}
button:hover{
    background-color: white;
    color:black;
}
.footer{
    color:#FFFFFF;
    font-weight: bolder;
    background-color: black;
    padding:5%;
}
.footer li{
    list-style: none;
    font-size:14px;
}
.footer h3{
     padding:5px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer a {
    text-decoration: none;
    padding:10px;
    color:#FFFFFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer i{
    padding:3%;
}


